body
{
	background-image:url("wallpaper 3.jpg");
}
	ul li
	{
		display:inline-block;
		padding:100px;
	}
	ul
	{
		align:right;
	}
	{
		ul li
	{
		display: inline-block;
		padding:100 px
	}
body
{
bacground-image: url("coffee logo.jfif");
}
body
{
"margin:0 auto:"
}